    html, body {
        margin: 0;
        padding: 0;
    }

    header {
        background-color: #f4f4f4;
        padding: 10px 20px;
        border-bottom: 1px solid #ccc;
    }

    /*
        Flexbox-layout for main-boksen, delt inn i to seksjonar: venstre og høgre. 
    */

    main {
        display: flex;
        height: 100vh;
    }

    #left {
        flex: 1;
        padding: 20px;
        border-right: 1px solid #ccc;
    }

    #right {
        flex: 1;
        padding: 20px;

        div {
            margin-bottom: 10px;
            padding: 1rem;
        }
    }

    /*
        Skjema for å sende meldingar
    */

    form {
        display: flex;
        flex-direction: column;
        gap: 10px;

        button {
            padding: 1rem;
            background-color: #007BFF;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            width: 200px;
        }

        button:hover {
            background-color: #0056b3;
        }

        input {
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
            height: 2rem;
        }
    }